body, html {
  margin: 0;
  padding: 0;
}
.disconnected {
  cursor: not-allowed;
}
#currentCanvas {
  display: block;
  position: absolute;
  top: 20%;
  left: 20%;
}
#colors {
  position: fixed;
  z-index: 2;
  cursor: pointer;
}
#colors * {
  cursor: pointer;
}

#scroll-space {
  width: 500%;
  height: 500%;
  position: relative;
  overflow: hidden;
}
#subcanvas {
  position: absolute;
  z-index: -1;
}
#brush-size .sample {
  border-radius: 50%;
  margin: 1em;
}
#brush-size input.hidden {
  display: none;
}